@{            ViewData["Title"] = "Movie Table";
}

@model List<SubmitMovie>

<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td>Movie Title</td>
            <td>Director</td>
            <td>Release Year</td>
            <td>Category</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>Notes</td>
            <td>Lent To</td>
            <td>Edit</td>
            <td>Delete</td>

        </tr>
    </thead>

    <tbody>
        <!-- loop to create a record in the table for every entry-->
        @foreach (var x in Model)
            {
        <tr>
            <td> @x.Title</td>
            <td> @x.Director</td>
            <td> @x.ReleaseYear</td>
            <td> @x.Category.CategoryName</td>
            <td> @x.Rating</td>
            <td> @x.Edited</td>
            <td> @x.Notes</td>
            <td> @x.LentTo</td>
            <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@x.MovieID">Edit</a></td>
            <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@x.MovieID">Delete</a></td>
        </tr>
            }

    </tbody>

</table>